<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>Welcome</title>
	<link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
	<div class="container">
		<div class="home-content">
			<h2 class="title">Hello World</h2>
			<img th:src="@{/img/avatar.svg}">
			<span th:text="'You logged in as ' + ${username}"></span>
			<form action="#" th:action="@{/logout}" method="post">
				<input type="submit" value="Logout" />
			</form>
		</div>

	</div>
</body>
</html>