<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Login</title>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container-fluid img_container">

		<div class="form-box text-center">
			<div class="logo mb-3">
				<img src="images/logo.png" width="150px">
			</div>
			<div class="heading mb-4">
				<h4>Login into your account</h4>
				<div style="color: red;" th:text="${error}"></div>
			</div>
			<form action="#" th:action="@{/login}" method="post">
				<div class="form-input">
					<span><i class="fa fa-envelope"></i></span> 
					<input type="text" name="username" id="username" placeholder="UserName" required="required" />
				</div>
				<div class="form-input">
					<span><i class="fa fa-lock"></i></span> 
					<input type="password" name="password" id="password" placeholder="Password" required="required" />
				</div>
				<div class="submit_button">
					<input type="submit" value="Login">
				</div>
			</form>
		</div>

	</div>

</body>
</html>
